@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
  font-family: 'Sans-serif';
}
img {
  width: 100%;
  height: auto;
}

body{
  background-image: url("python-background test.jpg");
  background-position: 50px 150px;
}

#title{
  background: white;
  border-radius: 100px;
  width: calc(90% - 30px);
  margin: 0 auto;
  padding: 25px;
  box-shadow: rgba(70, 13, 13, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#title h1{
  font-size: 55px;
}

#title p{
  font-size: 20px;
}

body h1 + p { margin-top: -30px; }

#content{
  border-radius: 70px;
  background: white;
  width: calc(90% - 30px);
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin: 0 auto;
}

hr{
  width: 50%;
  border: 3px solid black;
  border-radius: 6px;
  background: black;
}

ul{
  text-align: center;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.textsmall{
  width: 500px;
  margin: 0 auto;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}